.table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 960px;
}

.table td,
.table th {
  border: 1px solid #ddd;
  padding: 0.5rem;
  font-size: 0.9rem;
}

.table th {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  text-align: left;
  background-color: black;
  color: white;
}
